 <div id='gift-options' class='form-section'>
  <% unless @included_gifts.blank? %>
    <h3>Subscribe and Receive</h3>
    <%= render :partial => "included_gift", :collection => @included_gifts %>
  <% end %>
  <% if @optional_gifts.size > 1 %>
    <% if @offer.gifts.included.empty? %>
      <h3>Choose a gift!</h3>
    <% else %>
      <div class="clear"></div>
      <h3>Plus, choose one of the following:</h3>
    <% end %>
    <% @optional_gifts.each_with_index do |o_gift, i| %>
      <%= render :partial => "optional_gift", :object => o_gift, :locals => { :checked => (i == 0) } %>
    <% end %>
  <% end %>
</div>

