<div id='subscription-options' class='form-section'>
  <div id="type-group-info" class="subscription-type">
    <div class="promo">
      <h4>Discounts for group purchases. Check out the details <%= link_to("here", "http://www.subscriptus.co/", :target => :new) %>.</h4>
    </div>
  </div>
</div>
