<div id='subscription-options' class='form-section'>
  <div id="type-group-info" class="subscription-type">
    <div class="promo">
      <h4>Crikey offers great discounts for group subscriptions. Check out the details <%= link_to("here", "http://offers.crikey.com.au/groups/", :target => :new) %>.</h4>
      <%= render :partial => "offer_terms", :object => @offer.offer_terms.full_price %>  
    </div>
  </div>
</div>

