  <div id='subscription-options' class='form-section'>
    <div id="type-student-info" class="subscription-type">
      <div class="promo">
        <h4>Education discount offered to teaching and learning organisations, staff and students.</h4>
      </div>
      <%= hidden_field_tag "concession", "student" %>
      <%= render :partial => "offer_terms", :object => @offer.offer_terms.concession %>  
    </div>
  </div>

