
      <div id='subscription-options' class='form-section'>
        <div id="type-normal-info" class="subscription-type">
          <%= render :partial => "offer_terms", :object => @offer.offer_terms.full_price %>  
        </div>
      </div>
      <%= render :partial => "gifts" %>
