
  <div class='section' id='page-3'>
    
    <div class='content'>

      <h2>Thanks! Your registration is complete.</h2>

      <p>To start reading <%= @publication.try(:name) %>, go to our <a href="http://www.<%=@publication.try(:custom_domain) %>">home page</a> and get clicking.</p>
      <p> </p>
      <p> </p>		
      
    </div>

	</div>

	<div class="clear"></div>
