
  <div class='section' id='page-3'>
    
    <div class='content'>

      <h2>Thanks! Your registration is complete.</h2>

      <p>To start reading <%= @publication.try(:name) %>, go to our <a href="http://www.crikey.com.au">home page</a> and get clicking.</p>
			
			<p>Or have you seen <a href="http://crikeyshop.crikey.com.au/">the Crikey Shop?</a></p>
			
			<p>You'll find the latest Crikey and First Dog On The Moon goodies, as well as great books and DVDs. You should probably buy at least one of everything. They also make great presents!</p>
      
    </div>

	</div>

	<div class="clear"></div>
