<h1 style="color: green; padding-bottom:25px;">Subscribe to Crikey</h1>

<div style="border: 1px solid; padding: 20px;">
	<strong>Dear <%= @name %></strong>

	<h3 style="color: green">Your Account Has Been Set Up</h3>
	
	<p>
		Thanks for subscribing to Crikey!<br/>
		However, we need a few more details from you in order to activate your subscription.
		Please refer to the relevant instructions below.
	</p>


	<h3>DIRECT DEBIT OPTIONS</h3>
	<p>To complete your direct debit subscription, please download and complete a PDF form below.</p>
	<p>
		<strong>Download</strong><br/>
		<%= link_to "Bank Account - direct debit request(PDF)", :action => "download_pdf", :kind => "bank" %>
		Use this form to pay your direct debit subscription via your Bank Account.
	</p>
	<p>
		<strong>Download</strong><br/>
		<%= link_to "Credit Card - direct debit request(PDF)", :action => "download_pdf", :kind => "credit" %>
		Use this form to pay your direct debit subscription via your Credit Card.
	</p>
	
	<p>please email us at <font style="color:green" title="email">subs@crikey.com.au</font> if you have any questions.</p>

</div>

