

<div class='section' id='page-2'>
  
  <div class='content'>

    <h2>Thanks for subscribing to Crikey! We hope you enjoy it.</h2>

    <h3>Invoice</h3>

    <p class='subscription-description'><a href="#">View and print your invoice for your records</a></p>

    <!-- Error Messages -->
    
    <h2>Complete your registration</h2>
    
    <h3>Crikey Weekender</h3>
    
    <p>Have you signed up for Crikey Weekender yet? It's our weekly arts and culture wrap &mdash; delivered direct to your inbox every Friday morning. You'll love it.</p>
    
    <form>
      <input type="checkbox">
      <label>Yes &mdash; send me your Weekender</label>
      
      <h3>Promotional Materials</h3>
      
      <input type="checkbox">
      <label>Tick this box if you want to receive carefully selected offers by email from advertisers screened by Crikey</label>
      
      <div>
      <input type="submit" value="Complete Registration">
      </div>
      
    </form>
      
  </div>
</div>
<div class="clear"></div>
