

<div class='section' id='page-2'>
  
  <div class='content'>

    <% if @gifts.include?75 %>
      <h2>You're nearly done!</h2>
    <% end %>

    <h2>Thanks for your order.</h2>

    <h3>Invoice</h3>

    <% if @subscription.pending? %>
      <p class='subscription-description'>Please check your inbox for instructions on how to activate your account</p>
    <% else %>
      <p class='subscription-description'><%= link_to("View and print your invoice for your records", url_for(:action => "invoice"), :target => :new) %></p>
    <% end %>

    <!-- Error Messages -->
    
    <h2>Complete your registration</h2>

    <% form_for @subscription, :url => complete_path do |form| %>

      <h3>Promotional Materials</h3>
      
      <%= form.check_box :solus %>
      <label for="subscription_solus">Tick this box if you want to receive carefully selected offers by email.</label>
      
      <div id="">
      <%= image_submit_tag template_image_path('completerego.png'), :disable_with => "Processing...", :id => "btnSubmit" %>
      </div>
      
    <% end %>
      
  </div>
</div>
<div class="clear"></div>
