<h1><%= @subscriber.name %></h1>

<h2>Payment History</h2>

<%= render_table @subscriber.payments do |t| 
  t.header :payment_date
  t.header :subscription
  t.header :amount
  t.header :card_number
  t.header :expiry_date
  t.header :payment_type
  t.header :reference
  
  t.rows do |row, payment, index|
    t.payment_date  l(payment.created_at, :format => :format => "%d/%m/%Y %H:%m")
    t.subscription  payment.subscription.name
    t.amount        number_to_currency(payment.amount) # is this in cents?
    t.card_number   payment.card_number
    t.expiry_date   payment.expiry_date
    t.payment_type  payment.payment_type
    t.reference     payment.reference
  end
end %>

