
<div class="title">
  <%= content_tag :h2, "All Gifts" %>
  <div class="actions">
    <%= link_to 'Create New Gift', new_admin_catalogue_gift_path, :class => 'create' %>
  </div>
</div>

<%= render_table @gifts do |t|
  t.header :image, :width => "100"
  t.header :name
  t.header :stock, :width => "60"
  t.header :actions, :width => "180"

  t.rows do |row, gift, index|
    row.image link_to(image_tag(gift.gift_image.url(:thumb)), admin_catalogue_gift_url(gift))
    row.name link_to(h(gift.name), admin_catalogue_gift_url(gift)) + content_tag(:p, h(gift.description))
    row.stock gift.on_hand
    row.actions link_to("Edit", edit_admin_catalogue_gift_url(gift), :class => "edit") + link_to("Delete", admin_catalogue_gift_url(gift), :class => "destroy", :method => :delete, :confirm => "Are you sure?")
  end
end %>

