<div class="title">
  <%= content_tag :h2, "Generate Offer URL" %>
  <div class="actions">
    <%= link_to 'Back to Offer', admin_catalogue_offer_path(@offer), :class => 'back' %>
  </div>
</div>

<% form_for [:admin, :catalogue,:offer_link], :builder => Reform::Builder, :html => { :class => "form" } do |form| %>
  <%= form.submit "Generate" %>
<% end %>
