<ul class="options" id="full_price_terms">
  <%= render :partial => "admin/catalogue/offer_terms/offer_terms", :object => all_terms.full_price %>
</ul>
<h4>Concession</h4>
<ul class="options" id="concession_terms">
  <%= render :partial => "admin/catalogue/offer_terms/offer_terms", :object => all_terms.concession %>
</ul>

