<div class="title">
  <%= content_tag :h2, "Upload CSV" %>
  <div class="actions">
    <%= link_to 'Back to Import Subscribers', admin_system_import_index_path, :class => 'back' %>
  </div>
</div>

<p>Please contact the helpful staff at Subscriptus to arrange delivery of the CSV file and they will import your Subscribers.</p>

<!-- Form will be here -->
