<div class="title">
  <%= content_tag :h2, "Scheduled suspensions for Subscriptions" %>
  <div class="actions">
    
  </div>
</div>


<%= render_table @scheduled_suspensions do |t|
  t.header :ref
  t.header :publication
  t.header :subscriber
  t.header :from, :to, :duration, :actions

  t.rows do |row, ss, index|
    subscription = ss.subscription
    row.ref link_to(subscription.reference, admin_subscription_path(subscription))
    row.publication link_to(subscription.publication.name, admin_catalogue_publication_path(subscription.publication))
    row.subscriber link_to(subscription.user.try(:fullname), admin_subscriber_path(subscription.user))
    row.from I18n.l(ss.start_date)
    row.to I18n.l(ss.end_date)
    row.duration "#{ss.duration} days"

    row.actions link_to('Cancel', admin_scheduled_suspension_path(ss), :method => :delete, :confirm => 'Are you sure you wish to cancel the scheduled suspension?')
  end
end %>

