<div class="section" id="unsubscribe">
  <h2>Successful</h2>
  <p>You have been unsubscribed to <%= @publication.try(:name) %> &mdash; we're sorry to see you go.</P>
  <p>If you change your mind you can always resubscribe <a href="/subscribe">here</a></p>
</div>
