<div class="title">
  <%= content_tag :h2, "Canceled Subscriptions" %>
</div>

<%= render_table @subscriptions do |t|
  t.header :publication, :subscriber, :from, :to, :status, :actions

  t.rows do |row, subscription, index|
    row.publication subscription.publication.name
    row.subscriber subscription.get_user.fullname
    row.from subscription.created_at
    row.to subscription.expires_at
    row.status subscription.state
    row.actions link_to('Mark as Processed', mark_processed_admin_subscription_path(subscription), :class => "processed")
  end
end %>

