<div class="title">
  <%= content_tag :h2, "My Subscriptions" %>
</div>

<%= render_table @subscriptions do |t|
  t.header :publication, :from, :to, :status, :actions

  t.rows do |row, subscription, index|
    row.publication subscription.publication.name
    row.from subscription.state_updated_at.try(:strftime, "%d/%m/%Y")
    row.to subscription.expires_at.try(:strftime, "%d/%m/%Y")
    row.status subscription.state.try(:capitalize)
    unless subscription.publication.offers.default_for_renewal.blank?
      row.actions link_to_if(can_be_paid_for(subscription.state), 'Renew', new_renew_path(:publication_id => subscription.publication), :class => "pay")
    end
  end
end %>
