
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
	<head profile="http://gmpg.org/xfn/11">
		<title>Crikey Subscription form</title>
		
		<style type='text/css'>
		
			body{
				font-family: Arial,Helvetica,sans-serif;	
				padding:10px;
				color: #333;
				font-size:62.5%;
				background:#2e2e2e;
				margin:20px 0; padding:0;
			}
			* {outline:none;}
			
			#page {width:778px;margin:0 auto; background:#fff; padding:20px 0; position:relative}

			p {font-size:1.6em;}
			label, a {font-size:1.2em;}
			
			a, a:visited {color: #d60505;}
			a:hover {text-decoration:none;}
				
			h1, h2, h3 {margin:0; padding:0;}
			h2 {font-size:2.2em; font-weight:bold;}
			h3 {font-size:1.7em; font-weight:bold;}	
			h4 {font-size:1.2em; font-weight:bold;}
			
			.clear {clear:both}
			
			#header {text-align:center; margin-bottom:30px;}
			
			#top-right {width:170px; position:absolute; right:20px;}
			#top-right p{float:right; margin:0; padding:0;}
			#top-right p.phone, #bottom-right p.phone {padding:10px 0 5px 20px; margin:0px 0 0 0; background:url('/images/phone.png') no-repeat top left; font-size:24px; font-weight:bold; color:#6b6868;}
			p.other { font-size:1.4em; text-align:right}
			p.other a {font-size:1em;}
			#bottom-right p.phone {float:right; width:150px;}
			
			#page .content {float:left;}
			#page .section img.step {margin-left:-12px; float:left}
			
			.content p {width:580px; padding:0; margin-top:5px;}
			
			#step2 h2, #step3 h2 {margin-bottom:15px;}
			.section{clear:both;}
			#step2 {padding-top:20px; border-top:1px solid #ccc;}
			#step3 {padding-top:20px; border-top:1px solid #ccc;}
			
			#subscription-tabs {list-style:none; margin:30px 0 0 0; padding:0;}
			#subscription-tabs li {float: left; color:#d8d6d6;  background-color:#f9f9f9; margin-right:4px; font-size:1.2em; }
			#subscription-tabs li.last {margin-right:0px;}
			#subscription-tabs li a {color:inherit; background-color:inherit;  text-decoration:none; font-size:inherit; float:left; display:block; height:30px; padding:12px 10px 3px 10px;}
			#subscription-tabs li.active{color:white; background-color:#999; }
			#subscription-tabs li.active a{font-size: 1.7em; padding-top:10px; padding-bottom:5px;}
			#subscription-tabs li:hover {background-color:#999; color:white; }
			#subscription-options {border-top:1px solid #e9eae9;}
			
			#subscription-tabs li a {width:103px; text-align:center;}
			#subscription-tabs li.active a {width:180px; text-align:center;}
			
			.subscription-header {padding:5px 0; background-color:#f7f8f6}
			#subscription-options .subscription-header p {font-weight:bold; margin:0; padding:0 0 5px 0; font-size:1.2em}			
			#subscription-header1 {float:left; width:480px; left:10px; position:relative;}
			#subscription-header2 {float:right; width:100px;}
			.subscription-option {padding:10px 0 10px 5px; background:#99ca3c; border-top:1px dashed white; font-weight:bold;}
			.subscription-option .cost {float:right; width:100px;}
			
			#subscription-options #total {background:#d60505; color:white; font-size:1.2em; font-weight:bold;float:right;margin-right:25px; width:auto; display:none; /*only show with JS*/}
			#subscription-options p {padding:8px 20px 8px 20px; }
			
			.gift-option label {font-size:1.4em;}
			.gift-option {clear:both; margin-bottom:15px; }
			.gift-option img, .gift-option input {float:left;}
			.gift-option img, .gift-option span {margin:0 10px 5px 10px; font-size:0.9em}
			.gift-option label span {width:550px; display:block}
			.gift-option label span.gift-title {font-weight:bold;}
			#gift-options {clear:both;}
			#gift-options h3 {margin-bottom:10px;}
			
			.form-section { display:block; margin-bottom: 15px;}
			
			.form-row {display:block; clear:both; margin-bottom:5px;}
			.form-row label {display:block; width:200px; float:left; margin-bottom:5px;}
			.form-row input, .form-row select {margin-bottom: 5px;}
			.form-row .instructions {font-size:1em; color:#666; display:block; margin:0 0 7px 200px;}
			.form-row input {width:200px;}
			.form-row input.smallText {width:60px;}
			.form-row input.midText {width:140px;}
			.form-row label.secondLabel {}

			.mandatory {color:#c00101; font-weight:bold; font-size:1.5em; margin-left:2px;}
			
			#terms {margin:15px 0 0 50px;}
			
			#btnSubmit {margin:20px 0 0 110px;}
			
			#securepay {float:right; clear:right;}
			#payment {width:560px;}
			#payment h2 {float:left;}
			#payment-options {clear:both; position:relative; top:-10px;}
			#payment-options img {display:block;padding:5px 0 0 20px;}
			#rdoPaymentOptions2 {margin-left:110px;}
			
			#payment-details {position:relative; top:-10px;}
			#payment-details label a{font-size:0.8em; position:relative; left:15px;}
			
			#login-choice {margin-bottom:20px;}
			#login-choice label  {margin-right:50px;}
			
			#section-login {margin-bottom:20px;}
			#btnLogin {margin:0 0 10px 200px;}
						
			#tinybox {position:absolute; display:none; padding:10px; background:#fff url(/images/preload.gif) no-repeat 50% 50%; border:10px solid #e3e3e3; z-index:2000}
			#tinymask {position:absolute; display:none; top:0; left:0; height:100%; width:100%; background:#000; z-index:1500}
			#tinycontent {background:#fff}

			.button {font:1.4em Georgia,Verdana; margin-bottom:10px; padding:8px 10px 9px; border:1px solid #ccc; background:#eee; cursor:pointer}
			.button:hover {border:1px solid #bbb; background:#e3e3e3}
			.tinyClose{display:block; text-align:right; margin-bottom:10px;}
			.tinyClose img {border:none;}

      .fieldWithErrors {
        display: inline;
      }

		</style>
		
	<script src="http://code.jquery.com/jquery-latest.pack.js" type="text/javascript"></script>

		<script type="text/javascript">
		//<![CDATA[

		  $(document).ready(function() {
			//$('#total').css('display','block');
			$('.subscription-option').click(function(){
				$('input', this).attr('checked', true);
				var cost = $('span.cost',this).html().replace(/[^\d\.]/g, '');
				$('span#value').html(cost);
				$('#total').css('display','block');				
			});
			
			/* Switch between new and existing suer login (renew and new subscription) */		
			$('#rdoNew').click(function(){
				$('#section-new').show();
				$('#section-login').hide();
				$('#section-loggedin').hide();
			});
			$('#rdoLogin').click(function(){
				$('#section-login').show();
				$('#section-new').hide();			
			});
			
			
			// set default details section based on QueryString param
			var user_param = gup( 'show' );
			if(user_param == 'new'){
				$('#rdoNew').click();
			}else{
				$('#rdoLogin').click();
			}
			
			var ccv = "<a class='tinyClose' href='javascript:TINY.box.hide()'><img src='/images/close.png' alt='close' /></a><img src='/images/ccv.png'  width='289' height='227'  alt='CCV' />";	
			T$('aCCV').onclick = function(){TINY.box.show(ccv,0,0,0,1); return false;};
		
		  });
		  
		  
		  function gup( name )
			{
			  name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
			  var regexS = "[\\?&]"+name+"=([^&#]*)";
			  var regex = new RegExp( regexS );
			  var results = regex.exec( window.location.href );
			  if( results == null )
				return "";
			  else
				return results[1];
			}
			
			 
		  function simulateLogIn(){
			// this simulates the log in process. 
			// If JavaSCript is available it will do an AJAX login, 
			// otherwise it will submit to the page and reload
			
			$('#section-login').slideUp('slow', function(){
				$('#section-loggedin').slideDown(1000);				
			});			
		  }
		//]]>
	
		</script>
	</head>
	
	<body>
	
		<div id='page'>
		
			<div id='top-right'>
				<p class='phone'>
					1800 985 502
				</p>
				<p class='other'>
					Want to pay by fax or mail? <a href='#'>Download the Subscription form</a>
				</p>
			</div>
			
			<div class='clear'></div>

			<div id='header'>
			
				<img src='/images/logo.gif' alt='Crikey' />
			
			</div>
			
      <%= yield %>
				
			<div id='footer'>
			
			</div>
						
		</div> <!-- id='page' -->
		
		
	
	</body>
</html>
